@{
	ViewData["Title"] = "Список изменении";
}

<h1>@ViewData["Title"]</h1>

<section class="proj-status">
	<h1>История изменении проекта:</h1>
	<p>Текущая версия: 3.0</p>
	<h2>Добавлено:</h2>
	<ul>
		<li>
			Полностью переработано с <strong>Razor Pages</strong> на <strong>MVC</strong> технологию.
			все основано на Контроолерах->Представлениях структуре;
		</li>
		<li> Добавлен <code>BookServiceAdapter&lt;T&gt;</code> для корректной регистрации сервисов;</li>
		<li> Добавлен <strong>Book Details</strong> страница-представление;</li>
		<li> Добавлены специфичные <i>_Partial</i> представления для каждой модели книг;</li>
		<li> Убран <strong>ID</strong>. теперь фильтрация происходит по: Год+Название;</li>
		<li> Добавлены <code>BookEra</code> категории. Теперь выбор книг сосредоточен на 2-х параметрах для отображении;</li>
		<li> Добавлен <code>EraDefinitor</code>, Класс-Помощник сопсотавлении Года и Названия. Также фиксирует разрешенные категории. 
			Помечает текстом все эпохи книг;</li>
		<li> Изменены <strong>URL</strong> параметры для соотвествия поиска нужных книг;</li>
		<li> Переработка UI и фронтенд логики;</li>
		<li> Добавлены условия при неправильных URL запросах.</li>
	</ul>
	<h2>Исправления:</h2>
	<ul>
		<li> Исправлен отсутствующий <code>IBookService&ltTModel&gt;</code>. Все контроллеры используют интерфейсы;</li>
		<li> Переписана логика регистрации сервисов в соответствии с интерфейсами;</li>
		<li> Жесткая запись <code>Categories</code> для точного закрепления категории книгам;</li>
		<li> Исправлены <i>_Layout</i> .css стили;</li>
		<li> Удален индексатор списка книг;</li>
		<li> Исправлены некорректная <strong>URL</strong> передача параметров между списка книг и формы заполнения;</li>
		<li> Исправлено поле <code>PhoneFormation</code> для <i>Guide</i> книг не отображавшие данные правильно;</li>
		<li> Исправлена выборка категории, случайно отображая несуществующую <strong>All</strong> категорию;</li>
		<li> Маленькие исправления логических ошибок в коде.</li>
	</ul>
</section>
