.proj-status {
    background-color: #1b1b1b;
    color: #00ff00;
    padding: 16px 20px;
    border-radius: 6px;
    font-family: 'Courier New', monospace;
    border: 1px solid #00aa00;
    box-shadow: 0 0 8px #00aa00 inset;
}

.proj-status h1,
.proj-status h2 {
    color: #7cfc00;
    margin-top: 10px;
    margin-bottom: 5px;
}

.proj-status code {
    display: inline;
    background-color: #000;
    color: #e4e4e4;
    margin: 0;
    padding: 0;
    font-family: Consolas, monospace;
    border: 1px solid #808080;
    box-shadow: 0 0 10px #000;
    width: 200px;
}

.proj-status ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}

.proj-status ul li::before {
    content: "- ";
    color: #00ff00;
}
