@using LibraryManagement.LibraryModule.BookModels
@model ModernBook

<div class="form-group">
	<label asp-for="IsDigital">IsDigital?</label>
	<input type="checkbox" asp-for="IsDigital"/>
</div>
