@using LibraryManagement.LibraryModule.BookModels
@model HistoricalBook

<div class="form-group">
	<label asp-for="Genre">Book Genre:</label>
	<input asp-for="Genre" required/>
	<span asp-validation-for="Genre" class="text-danger"></span>
</div>

