@page
@using Microsoft.AspNetCore.Mvc.Localization
@model LibraryManagement.Pages.AboutModel
@{
	ViewData["Title"] = "О проекте...";
}

<div class="proj-block">
	<h1>Общая информация о проекте</h1>

	<section class="proj-block">
		<h2>Примечание:</h2>
		<p>
			Возможно, это последняя доработка данного проекта! Дальнейшие изменения - НЕ планируются!
			Считай что проект доведен до самого конца!
		</p>
	</section>

	<section class="proj-block">
		<h2>О чем этот проект?</h2>
		<p>
			Этот проект основан на <strong>ASP.NET Core 9 & MVC + поддержка Razor страниц</strong>. Использует C# за основу,
			MVC (Модель-Представление-Контроллер) как архитектурный шаблон с минимальным использованием Razor и минимальными 
			стилями Bootstrap. Основу составляют базовые: сервис и модель книги, где конкретные книги определяются по категориям.
		</p>
	</section>
	<hr />
	<section class="proj-block">
		<h2>Описание проекта:</h2>
		<p>
			<strong>"Современная библиотека XXI"</strong> - Это онлайн-хранилище и агрегатор для хранения книг в цифровом виде,
			цель систематизировать и показать литературу различных веков и эпох!
			Интерфейс построен на MVC + Razor с четким определением категории книг, каждая из котрых имеет свой обработчик
			и представление. Архитектура проекта легко позволяет расширить новыми идеями.
		</p>
	</section>
	<hr />
	@await Html.PartialAsync("_Changelog")
	<h2>Баги И Трудности проекта:</h2>
	<a asp-page="/ProjectIssues" class="issues-link">Открыть страницу 'Баги и Трудности'</a>
	<section class="proj-block">
		<h2>Возможные дальнейшие идеи:</h2>
		<ul>
			<li>API интеграция с глобальными данными книг;</li>
			<li>Система пользовательских оценок и отзывов;</li>
			<li>Интеграция с внешними API (например: Google Books);</li>
			<li>Адаптивный <strong>Темный Режим</strong> для чтения книг;</li>
			<li>Визуальное четкое представление книг, с ссылками и картинками;</li>
			<li>Мультиязыковая поддержка;</li>
		</ul>
	</section>
	<hr />
	<section class="proj-authorizing">
		<h2>Авторство И период разработки</h2>
		<p>
			Автор: Maksim Vitalyevich
			Период активной разработки: с <strong>15.06.2025</strong> по <strong>04.07.2025</strong>
		</p>
	</section>
</div>